{%extends 'base.html'%}
{% block content %}
{%load bootstrap4%}
{% load static%}
{{block.super}}

<h1 class="text-center"> ME & MY NEIGHBOURS</h1>
<div class="container">
<div class="card-columns" >
{% for hoods in hood %}
<div class="card" style="width: 18rem;">
    <div class="card-header">
        NEIGHBOURHOODS
    </div>
    <ul class="list-group list-group-flush">
      <li class="list-group-item">{{hoods.name}}</li>
      <li class="list-group-item">{{hoods.location}} </li>
      <li class="list-group-item">{{hoods.accupants}} </li>
    </ul>
    <a href="{% url 'user' %}"> <button class="btn btn-default">join</button></a>
     &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;
    <a href="{% url 'neighborview' hoods.id %}"><button class="btn btn-default">NEIGHBOURS</button> </a>
  </div>
 
{% endfor%}
</div>
<div class="row">
        <div class="col-md-6"> 

    {% for post in posts %}
    <div class="card" style="width: 30rem;">
            <div class="card-header">
                POSTS
            </div>
            <ul class="list-group list-group-flush">
              <li class="list-group-item">{{post.title}}</li>
              <li class="list-group-item">{{post.address}}</li>
              <li class="list-group-item">{{post.description}} </li>
            </ul>
          </div>
    {% endfor %}

        </div>
        <div class="col-md-6">
                <p>police Line <b>999</b></p>
                <p>healthcare Line <b>237832</b> </p>
                <p>sonko rescue team <b>5778355</b></p>
                <p>Fire station <b>56368736</b></p>
        </div>
</div> <hr>


</div>
{% endblock %}