{%extends 'base.html'%}
{% block content %}
{%load bootstrap4%}
{% load static%}
{{block.super}}

<h1 class="text-center"> ME & MY NEIGHBOURS</h1> <br>
<div class="container">
  <div class="row">
    <div class="col-md-10">

<div class="card-columns" >
{% for hoods in hood %}
<div class="card" style="width: 18rem;">
    <div class="card-header">
        NEIGHBOURHOODS
    </div>
    <ul class="list-group list-group-flush">
      <li class="list-group-item">{{hoods.name}}</li>
      <li class="list-group-item">{{hoods.location}} </li>
      <li class="list-group-item">{{hoods.accupants}} </li>
    </ul>
    <a href="{% url 'user' %}"> <button class="btn btn-default">join</button></a>
     &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;
    <a href="{% url 'neighborview' hoods.id %}"><button class="btn btn-default">NEIGHBOURS</button> </a>
  </div>
 
{% endfor%}
</div>
    </div>
        <div class="col-md-2">
                <p>police Line <b>999</b></p> <hr>
                <p>healthcare Line <b>237832</b> </p> <hr>
                <p>sonko rescue team <b>5778355</b></p> <hr>
                <p>Fire station <b>56368736</b></p>
        </div>
</div> <hr>

</div>
</div>
{% endblock %}