{% extends 'base.html' %}
{%load bootstrap4%}
{% block content %}
<div class="container">
<div class="card-columns">
        {% for neighbourhood in neighbourhood_users %}

        <div class="card" style="width: 20rem;">
            <div class="card-header">
              <b> RESIDENTS </b>
            </div>
            <ul class="list-group list-group-flush">
              <li class="list-group-item">{{neighbourhood.username}}</li>
              <li class="list-group-item">{{neighbourhood.email}} </li>
              <li class="list-group-item">{{neighbourhood.user_id}}</li>
            </ul>
          </div>
        {%endfor%}
        </div>
</div>
{% endblock %}